{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <section>
        <h3>{% trans %}Sign in{% endtrans %}</h3>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="row uniform 50%">
                <div class="3u 12u$(xsmall)">
                    <input type="text" id="username" name="_username" value="{% if last_username is defined %}{{ last_username }}{% endif %}" required="required" placeholder="Username" />
                </div>
                <div class="3u 12u$(xsmall)">
                    <input type="password" id="password" name="_password" required="required" placeholder="Password" />
                </div>
                <div class="12u$">
                    <a href="{{ path('fos_user_resetting_request') }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Please click here to reset your password{% endtrans %}">
                        {% trans %}Reset password {% endtrans %}
                    </a>
                </div>
                <div class="12u$">
                    <a href="{{ path('fos_user_registration_register') }}" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Create your account{% endtrans %}">
                        {% trans %}Create an account{% endtrans %}
                    </a>
                </div>
                <div class="12u$">
                    <input type="submit" name="_submit" id="_submit" class="special" value="{% trans %}Sign in{% endtrans %}"/>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
